In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv('../data/NBA_Player_of_the_Week.csv', parse_dates = ['Date'])

In [3]:
nba.head()

,Active season,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Real_value
0,0,Micheal Ray Richardson,New Jersey Nets,NaN,1985-04-14,PG,6-5,189,29,1978,6,1984-1985,1985,1.0
1,0,Derek Smith,Los Angeles Clippers,NaN,1985-04-07,SG,6-6,205,23,1982,2,1984-1985,1985,1.0
2,0,Calvin Natt,Denver Nuggets,NaN,1985-04-01,F,6-6,220,28,1979,5,1984-1985,1985,1.0
3,0,Kareem Abdul-Jabbar,Los Angeles Lakers,NaN,1985-03-24,C,7-2,225,37,1969,15,1984-1985,1985,1.0
4,0,Larry Bird,Boston Celtics,NaN,1985-03-17,SF,6-9,220,28,1978,5,1984-1985,1985,1.0

In [4]:
nba['Player'].nunique()

282

In [5]:
nba.groupby('Team').agg({'Season':'max' , 'Date':'count'}).sort_values('Date', ascending = False).head()

                        Season  Date
Team
Los Angeles Lakers   2012-2013    71
San Antonio Spurs    2017-2018    61
Houston Rockets      2018-2019    60
Cleveland Cavaliers  2017-2018    59
Miami Heat           2017-2018    57

In [6]:
nba.groupby('Position').agg({'Season':'max' , 'Date':'count'}).sort_values('Date', ascending = False)

             Season  Date
Position
G         2018-2019   184
SG        2018-2019   173
C         2018-2019   164
PF        2018-2019   142
F         2018-2019   137
PG        2018-2019   122
SF        2017-2018   119
FC        2018-2019    84
GF        2018-2019    50
F-C       2002-2003     9
G-F       2003-2004     3

In [72]:
## Data Source: https://data.world/datadavis/nba-salaries
salary = pd.read_excel('../data/NBA_Salary_1990-2017.xlsx')
salary = salary.drop(columns = 'Register Value')
salary.head()

  Player Name  Salary in $  Season Start  Season End Team      Full Team Name
0  A.C. Green      1750000          1990        1991  LAL  Los Angeles Lakers
1  A.C. Green      1750000          1991        1992  LAL  Los Angeles Lakers
2  A.C. Green      1750000          1992        1993  LAL  Los Angeles Lakers
3  A.C. Green      1885000          1993        1994  PHO        Phoenix Suns
4  A.C. Green      6472600          1994        1995  PHO        Phoenix Suns

In [73]:
salary.loc[(salary['Season Start'] == 2017) & (salary['Player Name'] == 'Stephen Curry')]

,Player Name,Salary in $,Season Start,Season End,Team,Full Team Name
10407,Stephen Curry,34682550,2017,2018,GSW,Golden State Warriors

In [74]:
salary201819 = pd.read_csv('../data/NBA_Salary_2018-2019.csv')
salary201819['Player Name'] = salary201819['Player'].str.split(pat = '\\', expand = True)[0]
salary201819['Salary in $'] = salary201819['2018-19'].str.slice(start = 1)
salary201819 = (salary201819[['Player Name', 'Tm', 'Salary in $']]
                .rename(columns = {'Tm': 'Team'}))
salary201819['Season Start'] = 2018
salary201819['Season End'] = 2019
salary201819 = pd.merge(salary201819, salary[['Team', 'Full Team Name']].drop_duplicates(), on = 'Team', how = 'left')

In [75]:
salary201819.head()

,Player Name,Team,Salary in $,Season Start,Season End,Full Team Name
0,Stephen Curry,GSW,37457154,2018,2019,Golden State Warriors
1,Chris Paul,HOU,35654150,2018,2019,Houston Rockets
2,Russell Westbrook,OKC,35654150,2018,2019,Oklahoma City Thunder
3,LeBron James,LAL,35654150,2018,2019,Los Angeles Lakers
4,Blake Griffin,DET,32088932,2018,2019,Detroit Pistons

In [76]:
salarydf = pd.concat([salary, salary201819], sort = True)

In [77]:
salarydf.head()

       Full Team Name Player Name Salary in $  Season End  Season Start Team
0  Los Angeles Lakers  A.C. Green     1750000        1991          1990  LAL
1  Los Angeles Lakers  A.C. Green     1750000        1992          1991  LAL
2  Los Angeles Lakers  A.C. Green     1750000        1993          1992  LAL
3        Phoenix Suns  A.C. Green     1885000        1994          1993  PHO
4        Phoenix Suns  A.C. Green     6472600        1995          1994  PHO

In [78]:
salarydf.shape[0]

12415

In [79]:
abb = pd.read_csv('../data/NBA_Teams_Abb.csv')
abb.head()

  Abbreviation/Acronym          Franchise
0                  ATL      Atlanta Hawks
1                  BKN      Brooklyn Nets
2                  BOS     Boston Celtics
3                  CHA  Charlotte Hornets
4                  CHI      Chicago Bulls

In [80]:
salarydf_clean = pd.merge(salarydf, abb, left_on = 'Team', right_on = 'Abbreviation/Acronym', how = 'left')
salarydf_clean

,Full Team Name,Player Name,Salary in $,Season End,Season Start,Team,Abbreviation/Acronym,Franchise
0,Los Angeles Lakers,A.C. Green,1750000,1991,1990,LAL,LAL,Los Angeles Lakers
1,Los Angeles Lakers,A.C. Green,1750000,1992,1991,LAL,LAL,Los Angeles Lakers
2,Los Angeles Lakers,A.C. Green,1750000,1993,1992,LAL,LAL,Los Angeles Lakers
3,Phoenix Suns,A.C. Green,1885000,1994,1993,PHO,NaN,NaN
4,Phoenix Suns,A.C. Green,6472600,1995,1994,PHO,NaN,NaN
5,Phoenix Suns,A.C. Green,6473000,1996,1995,PHO,NaN,NaN
6,Dallas Mavericks,A.C. Green,4851000,1997,1996,DAL,DAL,Dallas Mavericks
7,Dallas Mavericks,A.C. Green,5125088,1999,1998,DAL,DAL,Dallas Mavericks
8,Los Angeles Lakers,A.C. Green,1700000,2000,1999,LAL,LAL,Los Angeles Lakers
9,Miami Heat,A.C. Green,2250000,2001,2000,MIA,MIA,Miami Heat
10,Cleveland Caveliers,A.J. Bramlett,118974,2000,1999,CLE,CLE,Cleveland Cavaliers
11,Washington Wizards,A.J. English,275000,1991,1990,WAS,WAS,Washington Wizards
12,Washington Wizards,A.J. English,325000,1992,1991,WAS,WAS,Washington Wizards
13,Washington Wizards,A.J. English,406000,1993,1992,WAS,WAS,Washington Wizards
14,Chicago Bulls,A.J. English,150000,1994,1993,CHI,CHI,Chicago Bulls
15,Portland Trail Blazers,A.J. English,150000,1994,1993,POR,POR,Portland Trail Blazers
16,Chicago Bulls,A.J. Guyton,316969,2001,2000,CHI,CHI,Chicago Bulls
17,Chicago Bulls,A.J. Guyton,465850,2002,2001,CHI,CHI,Chicago Bulls
18,Golden State Warriors,A.J. Guyton,18748,2003,2002,GSW,GSW,Golden State Warriors
19,Dallas Mavericks,A.J. Hammons,650000,2017,2016,DAL,DAL,Dallas Mavericks
20,Miami Heat,A.J. Hammons,1312611,2018,2017,MIA,MIA,Miami Heat
21,Indiana Pacers,A.J. Price,457588,2010,2009,IND,IND,Indiana Pacers
22,Indiana Pacers,A.J. Price,762195,2011,2010,IND,IND,Indiana Pacers
23,Indiana Pacers,A.J. Price,854389,2012,2011,IND,IND,Indiana Pacers
24,Washington Wizards,A.J. Price,885120,2013,2012,WAS,WAS,Washington Wizards
25,Phoenix Suns,A.J. Price,62552,2015,2014,PHO,NaN,NaN
26,Boston Celtic,A.J. Wynder,30000,1991,1990,BOS,BOS,Boston Celtics
27,Boston Celtic,A.J. Wynder,130000,1992,1991,BOS,BOS,Boston Celtics
28,Boston Celtic,A.J. Wynder,140000,1993,1992,BOS,BOS,Boston Celtics
29,Houston Rockets,Aaron Brooks,1045560,2009,2008,HOU,HOU,Houston Rockets
...,...,...,...,...,...,...,...,...
12385,Detroit Pistons,Johnny Hamilton,838464,2019,2018,DET,DET,Detroit Pistons
12386,Detroit Pistons,Zach Lofton,838464,2019,2018,DET,DET,Detroit Pistons
12387,Denver Nuggets,Emanuel Terry,838464,2019,2018,DEN,DEN,Denver Nuggets
12388,Dallas Mavericks,Ding Yanyuhang,838464,2019,2018,DAL,DAL,Dallas Mavericks
12389,Dallas Mavericks,Codi Miller-McIntyre,838464,2019,2018,DAL,DAL,Dallas Mavericks
12390,Cleveland Caveliers,Bonzie Colson,838464,2019,2018,CLE,CLE,Cleveland Cavaliers
12391,Cleveland Caveliers,Levi Randolph,838464,2019,2018,CLE,CLE,Cleveland Cavaliers
12392,NaN,Joe Chealey,838464,2019,2018,CHO,NaN,NaN
12393,NaN,Zach Smith,838464,2019,2018,CHO,NaN,NaN
12394,NaN,Jaylen Barford,838464,2019,2018,CHO,NaN,NaN
12395,NaN,Isaiah Wilkins,838464,2019,2018,CHO,NaN,NaN
12396,Chicago Bulls,Kaiser Gates,838464,2019,2018,CHI,CHI,Chicago Bulls
12397,NaN,Theo Pinson,838464,2019,2018,BRK,NaN,NaN
12398,NaN,Nuni Omot,838464,2019,2018,BRK,NaN,NaN
12399,NaN,Jordan McLaughlin,838464,2019,2018,BRK,NaN,NaN
12400,NaN,Mitch Creek,838464,2019,2018,BRK,NaN,NaN
12401,Boston Celtic,Jeff Roberson,838464,2019,2018,BOS,BOS,Boston Celtics
12402,Boston Celtic,Nick King,838464,2019,2018,BOS,BOS,Boston Celtics
12403,Washington Wizards,Martell Webster,833333,2019,2018,WAS,WAS,Washington Wizards
12404,Minnesota Timberwolves,Cole Aldrich,685341,2019,2018,MIN,MIN,Minnesota Timberwolves
12405,Los Angeles Clippers,Carlos Delfino,650000,2019,2018,LAC,LAC,Los Angeles Clippers
12406,Sacramento Kings,Caron Butler,517219,2019,2018,SAC,SAC,Sacramento Kings
12407,Memphis Grizzlies,Dakari Johnson,459414,2019,2018,MEM,MEM,Memphis Grizzlies
12408,Miami Heat,A.J. Hammons,350088,2019,2018,MIA,MIA,Miami Heat
12409,Portland Trail Blazers,Festus Ezeli,333333,2019,2018,POR,POR,Portland Trail Blazers
12410,Orlando Magic,C.J. Watson,333333,2019,2018,ORL,ORL,Orlando Magic
12411,Los Angeles Clippers,Miroslav Raduljica,252043,2019,2018,LAC,LAC,Los Angeles Clippers
12412,Houston Rockets,Troy Williams,122741,2019,2018,HOU,HOU,Houston Rockets
12413,NaN,Emeka Okafor,100000,2019,2018,NOP,NOP,New Orleans Pelicans
12414,Boston Celtic,Demetrius Jackson,92857,2019,2018,BOS,BOS,Boston Celtics

In [81]:
## Find the mispell abbreviation team name
misabb = salarydf_clean.loc[salarydf_clean['Abbreviation/Acronym'].isna(), ['Team', 'Full Team Name']].drop_duplicates()
misabb = pd.merge(misabb, abb, left_on = 'Full Team Name', right_on = 'Franchise', how = 'left')
misabb

  Team        Full Team Name Abbreviation/Acronym             Franchise
0  PHO          Phoenix Suns                  PHX          Phoenix Suns
1  NOH  New Orleans Pelicans                  NOP  New Orleans Pelicans
2  NJN         Brooklyn Nets                  BKN         Brooklyn Nets
3  CHO                   NaN                  NaN                   NaN
4  BRK                   NaN                  NaN                   NaN

In [82]:
## After searching online, we know that the true meaning of 'CHO' is 'Charlotte Hornets'and 'BRK' is 'Brooklyn Nets'
abb.loc[(abb.Franchise == 'Brooklyn Nets') | (abb.Franchise == 'Charlotte Hornets')]

  Abbreviation/Acronym          Franchise
1                  BKN      Brooklyn Nets
3                  CHA  Charlotte Hornets

In [83]:
## Change Abb Team Name with a dictionary
change_abb_dic = {'PHO' : 'PHX', 'NOH': 'NOP', 'NJN':'BKN', 'CHO':'CHA', 'BRK':'BKN'}
salarydf['Team'] = salarydf["Team"].replace(change_abb_dic)

In [85]:
## left join again to find the true full team name
salary_new_df = pd.merge(salarydf, abb, left_on = 'Team', right_on = 'Abbreviation/Acronym', how = 'left')
salary_new_df = salary_new_df.drop(columns = ['Full Team Name', 'Abbreviation/Acronym'])
salary_new_df.head()

  Player Name Salary in $  Season End  Season Start Team           Franchise
0  A.C. Green     1750000        1991          1990  LAL  Los Angeles Lakers
1  A.C. Green     1750000        1992          1991  LAL  Los Angeles Lakers
2  A.C. Green     1750000        1993          1992  LAL  Los Angeles Lakers
3  A.C. Green     1885000        1994          1993  PHX        Phoenix Suns
4  A.C. Green     6472600        1995          1994  PHX        Phoenix Suns