In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv('../data/NBA_Player_of_the_Week.csv', parse_dates = ['Date'])

In [3]:
nba.head()

,Active season,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Real_value
0,0,Micheal Ray Richardson,New Jersey Nets,NaN,1985-04-14,PG,6-5,189,29,1978,6,1984-1985,1985,1.0
1,0,Derek Smith,Los Angeles Clippers,NaN,1985-04-07,SG,6-6,205,23,1982,2,1984-1985,1985,1.0
2,0,Calvin Natt,Denver Nuggets,NaN,1985-04-01,F,6-6,220,28,1979,5,1984-1985,1985,1.0
3,0,Kareem Abdul-Jabbar,Los Angeles Lakers,NaN,1985-03-24,C,7-2,225,37,1969,15,1984-1985,1985,1.0
4,0,Larry Bird,Boston Celtics,NaN,1985-03-17,SF,6-9,220,28,1978,5,1984-1985,1985,1.0

In [4]:
nba['Player'].nunique()

282

In [5]:
nba.groupby('Team').agg({'Season':'max' , 'Date':'count'}).sort_values('Date', ascending = False).head()

                        Season  Date
Team
Los Angeles Lakers   2012-2013    71
San Antonio Spurs    2017-2018    61
Houston Rockets      2018-2019    60
Cleveland Cavaliers  2017-2018    59
Miami Heat           2017-2018    57

In [6]:
nba.groupby('Position').agg({'Season':'max' , 'Date':'count'}).sort_values('Date', ascending = False)

             Season  Date
Position
G         2018-2019   184
SG        2018-2019   173
C         2018-2019   164
PF        2018-2019   142
F         2018-2019   137
PG        2018-2019   122
SF        2017-2018   119
FC        2018-2019    84
GF        2018-2019    50
F-C       2002-2003     9
G-F       2003-2004     3

In [7]:
nba.head()

,Active season,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Real_value
0,0,Micheal Ray Richardson,New Jersey Nets,NaN,1985-04-14,PG,6-5,189,29,1978,6,1984-1985,1985,1.0
1,0,Derek Smith,Los Angeles Clippers,NaN,1985-04-07,SG,6-6,205,23,1982,2,1984-1985,1985,1.0
2,0,Calvin Natt,Denver Nuggets,NaN,1985-04-01,F,6-6,220,28,1979,5,1984-1985,1985,1.0
3,0,Kareem Abdul-Jabbar,Los Angeles Lakers,NaN,1985-03-24,C,7-2,225,37,1969,15,1984-1985,1985,1.0
4,0,Larry Bird,Boston Celtics,NaN,1985-03-17,SF,6-9,220,28,1978,5,1984-1985,1985,1.0