In [1]:
import pandas as pd

nba = pd.read_csv('../data/NBA_player_of_the_week.csv', parse_dates = ['Date'])

In [2]:
nba

,Active season,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Real_value
0,0,Micheal Ray Richardson,New Jersey Nets,NaN,1985-04-14,PG,6-5,189,29,1978,6,1984-1985,1985,1.0
1,0,Derek Smith,Los Angeles Clippers,NaN,1985-04-07,SG,6-6,205,23,1982,2,1984-1985,1985,1.0
2,0,Calvin Natt,Denver Nuggets,NaN,1985-04-01,F,6-6,220,28,1979,5,1984-1985,1985,1.0
3,0,Kareem Abdul-Jabbar,Los Angeles Lakers,NaN,1985-03-24,C,7-2,225,37,1969,15,1984-1985,1985,1.0
4,0,Larry Bird,Boston Celtics,NaN,1985-03-17,SF,6-9,220,28,1978,5,1984-1985,1985,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,1,Russell Westbrook,Oklahoma City Thunder,West,2018-11-05,G,6-3,200,30,2008,10,2018-2019,2019,0.5
1183,1,Giannis Antetokounmpo,Milwaukee Bucks,East,2018-10-29,F,6-11,242,24,2013,5,2018-2019,2019,0.5
1184,1,Stephen Curry,Golden State Warriors,West,2018-10-29,G,6-3,190,30,2009,9,2018-2019,2019,0.5
1185,1,Kemba Walker,Charlotte Hornets,East,2018-10-22,G,6-1,184,28,2011,7,2018-2019,2019,0.5
1186,1,Nikola Jokic,Denver Nuggets,West,2018-10-22,C,7-0,250,24,2014,3,2018-2019,2019,0.5

In [3]:
nba['Player'].nunique()

282

In [4]:
nba.groupby('Team').agg({'Season':'max' , 'Date':'count'}).sort_values('Date', ascending = False)

                           Season  Date
Team
Los Angeles Lakers      2012-2013    71
San Antonio Spurs       2017-2018    61
Houston Rockets         2018-2019    60
Cleveland Cavaliers     2017-2018    59
Miami Heat              2017-2018    57
Utah Jazz               2018-2019    50
Golden State Warriors   2018-2019    46
Phoenix Suns            2013-2014    45
Orlando Magic           2018-2019    45
Oklahoma City Thunder   2018-2019    45
Denver Nuggets          2018-2019    45
Chicago Bulls           2016-2017    44
Boston Celtics          2016-2017    43
Philadelphia Sixers     2018-2019    39
New York Knicks         2017-2018    36
Portland Trail Blazers  2018-2019    34
Toronto Raptors         2018-2019    34
Atlanta Hawks           2018-2019    33
Milwaukee Bucks         2018-2019    32
New Jersey Nets         2008-2009    31
Detroit Pistons         2018-2019    30
Dallas Mavericks        2015-2016    30
Los Angeles Clippers    2018-2019    28
Minnesota Timberwolves  2017-2018    26
Indiana Pacers          2018-2019    26
Washington Wizards      2018-2019    25
Sacramento Kings        2016-2017    23
Seattle SuperSonics     2005-2006    20
Charlotte Hornets       2018-2019    16
New Orleans Hornets     2012-2013    12
Charlotte Bobcats       2013-2014    11
Memphis Grizzlies       2018-2019    10
Washington Bullets      1996-1997     8
New Orleans Pelicans    2018-2019     6
Brooklyn Nets           2018-2019     6

In [5]:
nba.groupby('Position').agg({'Season':'max' , 'Date':'count'}).sort_values('Date', ascending = False)

             Season  Date
Position
G         2018-2019   184
SG        2018-2019   173
C         2018-2019   164
PF        2018-2019   142
F         2018-2019   137
PG        2018-2019   122
SF        2017-2018   119
FC        2018-2019    84
GF        2018-2019    50
F-C       2002-2003     9
G-F       2003-2004     3

In [6]:
nba.loc[nba.Position == 'FC']

,Active season,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Real_value
65,0,Hot Rod Williams,Cleveland Cavaliers,NaN,1986-11-30,FC,6-11,215,24,1985,0,1986-1987,1987,1.0
308,0,Tim Duncan,San Antonio Spurs,NaN,1998-03-01,FC,6-11,250,21,1997,0,1997-1998,1998,1.0
312,0,Jayson Williams,New Jersey Nets,NaN,1998-01-25,FC,6-10,245,30,1990,7,1997-1998,1998,1.0
332,0,Tim Duncan,San Antonio Spurs,NaN,1999-03-07,FC,6-11,250,22,1997,1,1998-1999,1999,1.0
339,0,Tim Duncan,San Antonio Spurs,NaN,2000-04-03,FC,6-11,250,23,1997,2,1999-2000,2000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,0,Marcin Gortat,Washington Wizards,East,2015-12-28,FC,6-11,240,32,2005,8,2015-2016,2016,0.5
1089,0,Kevin Love,Cleveland Cavaliers,East,2016-11-28,FC,6-10,251,28,2008,8,2016-2017,2017,0.5
1104,0,LaMarcus Aldridge,San Antonio Spurs,West,2018-03-26,FC,6-11,260,32,2006,11,2017-2018,2018,0.5
1139,0,Kristaps Porzingis,New York Knicks,East,2017-11-06,FC,7-3,240,22,2015,2,2017-2018,2018,0.5
1174,1,Paul Millsap,Denver Nuggets,West,2018-12-03,FC,6-8,246,34,2006,12,2018-2019,2019,0.5

In [78]:
## Data Source: https://data.world/datadavis/nba-salaries
salary = pd.read_excel('../data/Salaries_(1990-2017).xlsx')
salary = salary.drop(columns = 'Register Value')
salary.head()

  Player Name  Salary in $  Season Start  Season End Team      Full Team Name
0  A.C. Green      1750000          1990        1991  LAL  Los Angeles Lakers
1  A.C. Green      1750000          1991        1992  LAL  Los Angeles Lakers
2  A.C. Green      1750000          1992        1993  LAL  Los Angeles Lakers
3  A.C. Green      1885000          1993        1994  PHO        Phoenix Suns
4  A.C. Green      6472600          1994        1995  PHO        Phoenix Suns

In [79]:
salary.loc[(salary['Season Start'] == 2017) & (salary['Player Name'] == 'Stephen Curry')]

,Player Name,Salary in $,Season Start,Season End,Team,Full Team Name
10407,Stephen Curry,34682550,2017,2018,GSW,Golden State Warriors

In [80]:
salary201819 = pd.read_csv('../data/2018-2019salary.csv')
salary201819['Player Name'] = salary201819['Player'].str.split(pat = '\\', expand = True)[0]
salary201819['Salary in $'] = salary201819['2018-19'].str.slice(start = 1)
salary201819 = (salary201819[['Player Name', 'Tm', 'Salary in $']]
                .rename(columns = {'Tm': 'Team'}))
salary201819['Season Start'] = 2018
salary201819['Season End'] = 2019
salary201819 = pd.merge(salary201819, salary[['Team', 'Full Team Name']].drop_duplicates(), on = 'Team', how = 'left')

In [81]:
salary201819.head()

,Player Name,Team,Salary in $,Season Start,Season End,Full Team Name
0,Stephen Curry,GSW,37457154,2018,2019,Golden State Warriors
1,Chris Paul,HOU,35654150,2018,2019,Houston Rockets
2,Russell Westbrook,OKC,35654150,2018,2019,Oklahoma City Thunder
3,LeBron James,LAL,35654150,2018,2019,Los Angeles Lakers
4,Blake Griffin,DET,32088932,2018,2019,Detroit Pistons

In [82]:
salarydf = pd.concat([salary, salary201819], sort = True)

In [83]:
salarydf.head()

       Full Team Name Player Name Salary in $  Season End  Season Start Team
0  Los Angeles Lakers  A.C. Green     1750000        1991          1990  LAL
1  Los Angeles Lakers  A.C. Green     1750000        1992          1991  LAL
2  Los Angeles Lakers  A.C. Green     1750000        1993          1992  LAL
3        Phoenix Suns  A.C. Green     1885000        1994          1993  PHO
4        Phoenix Suns  A.C. Green     6472600        1995          1994  PHO

In [86]:
salarydf.shape[0]

12415

In [88]:
salarydf.loc[(salarydf['Full Team Name'].isna())]['Team'].unique()

array(['NOP', 'CHO', 'BRK'], dtype=object)